/* --- Цветовая палитра --- */
@define-color bg-dark-gray #111214;
@define-color fg-pistachio #BBDBA6;
@define-color hover-pistachio #A5D683;
@define-color module-bg #1E1E1E;
@define-color alert-red #FF8A8A;

* {
    border: none;
    border-radius: 0;
    font-family: "Symbols Nerd Font", "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: @bg-dark-gray;
    border-radius: 24px;
    padding: 2px 4px;
}

/* Общий стиль всех кнопок */
#clock, #cpu, #temperature, #memory, #battery, #tray,
#custom-settings, #custom-power, #taskbar button, 
#custom-apps_icon, #custom-tray_icon,
#custom-pp-perf, #custom-pp-balanced, #custom-pp-saver {
    padding: 0 12px;
    margin: 4px 2px;
    border-radius: 18px; /* Скругление выделения */
    background-color: @module-bg;
    color: @fg-pistachio;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* --- ПОДСВЕТКА ТЕКУЩЕГО РЕЖИМА ПИТАНИЯ --- */
#custom-pp-perf.active, 
#custom-pp-balanced.active, 
#custom-pp-saver.active {
    background-color: @fg-pistachio;
    color: @bg-dark-gray;
}

/* Стили для неактивных иконок в ящике (без фона, пока не наведешь) */
#custom-pp-perf, #custom-pp-balanced, #custom-pp-saver {
    background-color: transparent;
}

/* --- НАВЕДЕНИЕ (Скругленное выделение) --- */
#custom-pp-perf:hover, 
#custom-pp-balanced:hover, 
#custom-pp-saver:hover,
#battery:hover,
#custom-settings:hover, 
#taskbar button:hover, 
#custom-apps_icon:hover,
#custom-tray_icon:hover,
#custom-power:hover,
#custom-reboot:hover, 
#custom-sleep:hover, 
#custom-logout:hover {
    background-color: @hover-pistachio; 
    color: @bg-dark-gray;
    border-radius: 18px; /* Гарантируем скругление при наведении */
}

#taskbar button.active {
    background-color: @fg-pistachio;
    color: @bg-dark-gray;
}

#battery.warning, #battery.critical {
    color: @alert-red;
}

#custom-reboot, #custom-sleep, #custom-logout {
    padding: 0 12px;
    margin: 2px;
    background-color: transparent;
    color: @fg-pistachio;
}

box, widget {
    background-color: transparent;
}

#tray {
    padding: 0 10px;
}

#privacy {
    padding: 0 8px;
    color: @fg-pistachio;
}
